
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Geologica', sans-serif;
  font-size: 15px;
}
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  margin: 80px 7%;
}
/* navbar */
.navbar{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 7px 7%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.242);
  background-color: white;
  align-items: center;
}
.title{
  color: #04123d;
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: auto;
  text-decoration-line: none;
  outline: none;
}
.cart-icon{
  margin-left: 10px;
}
.div-cart{
  position: relative;
}
.cart-items-count{
  position: absolute;
  background-color: #FC5185;
  border-radius: 10px;
  color: white;
  font-size: 0.6rem;
  padding: 2px 8px;
  right: -10px;
  top: -5px;
}


.cart-icon:hover,.cart-icon:focus,.home-icon:focus,.home-icon:hover{
  cursor: pointer;
}

.login-button{
background-color:#11ffdf94 ;
color: white;
padding: 7px 20px;
border-radius: 7px;
border: none;
cursor: pointer;
font-size: 1rem;
font-weight: 600  ;
margin-left: 20px;
transition: background-color 100ms linear;
outline: none;

}
.login-button:hover{
  background-color:#FC5185 ;
}
.login-btn-container{
  position: relative;
}


.form-section{
  border-radius: 10px;
  right: -40px;
  width: 300px;
  margin-top: 5px;
  transform-origin: top;
  transition: transform 250ms linear;
  transform: scaleY(0);  
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.172);
}
.form-section-visible{
  transform: scaleY(1);
}


.login-form{
  padding: 20px;
}
.login-form>input{
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.144);
  outline: none;
}
.login-form >input:focus{
  border: 1px solid #FC5185;
}

.submit-login-btn{
  width: 100%;
  padding:7px 5px ;
  border: none;
  background-color: #FC5185;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}


/* headings */
.all-products{
  color: #04123d;
  font-size: 2rem;
  font-weight: 500;
 margin-top: 3rem;
  width: max-content;
  padding-bottom: 5px;
}
.underline{
  height: 0.4rem;
  background-color: #11ffdf94;
  width: 7rem;
  margin-bottom: 20px;
}



.list-items{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  gap: 3rem;
  color: black;
  text-decoration-line: none;
}

.list-item{
  border: 1px solid rgba(0, 0, 0, 0.206);
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  transition: border-bottom 250ms linear;
}
.list-item:hover{
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.077);
  border-bottom: 3px solid #FC5185; 
}
/* #11ffff */
.list-item > img{
  width: 70%;
  height: 70%;
  align-self: center;
}


/* name */
.item-name{
  margin-top: 10px;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 5px;
  align-items: center;

}
.description{
  color: rgba(0, 0, 0, 0.523);
  margin-top: 10px;
  font-size: 0.8rem;
}
.rating{
  font-size: 1.3rem;
  color: white;
  background-color: #04123d;
  padding: 5px;
  border-radius: 2px;
  width: max-content;
  margin-bottom: 5px;
  display: flex;
 
}
.rating > img{
  margin-left: 5px;
  padding-bottom: 3px;
}

.buy-now-btn{
  cursor: pointer;
  background-color:#11ffdf94 ;
  color: white;
  border: none;
  align-self: flex-end;
  padding: 5px 20px;
  font-weight: 600;
  box-shadow: 0px 0px 6px 1px #11ffdf66 ;
  border-radius: 5px;
  position: absolute;
  bottom: 30px;
  right: 20px;
  transition: background-color 150ms linear;
  transition: box-shadow 150ms linear;
}
.buy-now-btn:hover{
  background-color: #FC5185;
  box-shadow: 0px 0px 6px 1px #FC5185;
}
.most-reduced > span{
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: auto;
 position: relative;
 padding-bottom: 20px;
}

/* price */
.price{
  font-weight: 700;
  font-size: 1.2rem;
}
.non-reduced-price{
  margin-left: 10px;
  font-weight: 200;
  text-decoration-line: line-through;
  opacity: 80%;
  font-size: 1rem;
}
.reduced-percent{
  font-size: 1.1rem;
  color: green;
}

.cart-container{
  display: flex;
  gap: 2rem;
}

.cart-list{
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.105);
  border-radius: 3px;
  flex-grow: 1;
  height: max-content;
}
.cart-image{

  width: 200px;
  height: 100%;
  margin-right: 20px;
}
.cart-item{
  padding: 20px;
display: flex;
  height: 250px;
position: relative;
}
.cart-item-info{
  display: flex;
  flex-direction: column;
}
.cart-item-info-container{
  display: flex;

  margin-left: 10%;

  /* justify-content: center; */
  flex-direction: column;
}
.remove-btn{
  border: none;
  background-color:#FC5185;
  color: white;
  width: 120px;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  transition: box-shadow 80ms linear;
}
.remove-btn:hover{
  box-shadow: 0px 0px 6px 1px #fc51847a;
}

.summary-section{
  border: 1px solid rgba(0, 0, 0, 0.105);
  width: 350px;
  height: max-content;
  padding: 20px;
}
.price-details{
  margin-top: 0px;
  font-size: 1.4rem;
}
hr{
 
  width: 95%;
  border-color: rgba(0, 0, 0, 0.087);
  margin: 5px auto;

}
.summary-hr{
  border-color: #11ffdf94;
  width: 100%;
}

.summary-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3,50px);
  color: rgba(0, 0, 0, 0.628);
}

.summary-grid>.reduced-percent{
  font-weight: 600;
}

.total-price-div{
  display: flex;
}
.total-price-div>p{
  flex-basis: 100%;
  color: rgba(0, 0, 0, 0.63);
}
.summary-discounts{
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
}

.place-order-btn{
  background-color: #11ffdf94;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: box-shadow 100ms linear;
  
}
.place-order-btn:hover{
  box-shadow: 0px 0px 6px 1px #11ffdf94;
}
.login-to-place-order{
  color: #FC5185;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 5px;
}



.item-page-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(450px, 1fr));
}
.item-page-image-div{

  padding: 0px 20px;
}
.item-page-image-div>img{
  width: 100%;
  height: 100%;
}
.item-page-section{
  padding: 80px 20px;
  align-items: center;
}
.item-page-section>.item-name{
  font-weight: 700;
  font-size: 2rem;
}
.item-page-section>.description{
 font-size: 1rem;
}
.add-to-cart-btn,.remove-from-cart-btn{
  background-color:#11ffdf94 ;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  margin-top: 7px;
  width: 40%;
  transition: box-shadow 100ms linear;
  font-weight: 600;
  border-radius: 5px;
}
.add-to-cart-btn:hover{
  box-shadow: 0px 0px 6px 1px #11ffdf94;
}

.remove-from-cart-btn{
  background-color:#FC5185
}
.remove-from-cart-btn:hover, .submit-login-btn:hover{
  box-shadow: 0px 0px 6px 1px #FC5185
}

.empty-cart-div{
 width: clamp(400px,700px,60%);
 margin-left: auto;
 margin-right: auto;
 display: flex;
 flex-direction: column;
}
.empty-cart-div >a{
  width: clamp(30%,40%,700px);
  align-self: center;
  margin-top: 40px;
  text-align: center;
}
.empty-cart-btn{
background-color: #FC5185;
width: 100%;
border: none;
padding: 10px 20px;
border-radius: 5px;
color: white;
font-weight: 700;
cursor: pointer;
}
.empty-cart-btn:hover{
  box-shadow: 0px 0px 3px 1px #FC5185
}


.slide-container{
  margin: 0px 5%;
}
.slider-img{
  height: 100%;
  width: 100%;
  margin-right: 20%;
  padding: 2em;
}
.div-slide-container{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
  gap: 3rem;
  padding: 0 50px;
}
.slide-content-container{
  padding: 100px;
}
@media (max-width:1070px){
  .slide-content-container{
    display: none;
  }
  .slider-img{
    padding: 3em;
  }
}
@media (max-width:700px){
  
  .slider-img{
    padding: 0;
  }
  .div-slide-container{
    display: block;
  }
  .slide-container{
    margin: 0px;
    margin-top: 50px;
  }
  
  .empty-cart-div{
    width: 90%;
    justify-content: center;
    margin: 0 auto;
  }
  .empty-cart-btn{
    width: 100%;
  }
  .empty-cart-div>a{
    width: clamp(50%,70%,400px)
  }
 
}
@media (max-width:400px){
  .empty-cart-div{
    width: 90%;
    justify-content: center;
    margin: 0 auto;
  }
  .empty-cart-btn{
    width: 100%;
  }
  .empty-cart-div>a{
    width: clamp(50%,70%,400px)
  }
  .item-page-container{
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  }
  .add-to-cart-btn,.remove-from-cart-btn{
    width: 70%;
  }
}
@media (max-width:900px){
  .cart-container{
    flex-direction: column;
    align-items: center;
  
  }
}
@media (max-width:600px){
  .cart-main-container{
    margin: 0 10px;
  }
  .cart-item{
    flex-direction: column;
    height: max-content;
  }
}
